*
{
margin:0;
border:0;
padding:0;
border-collapse:collapse;
border-spacing:0;
font-weight:inherit;
font-size:inherit;
font-style:inherit;
color:inherit;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family:inherit;
}
html,body
{
width:100%;
position:relative;
}
a
{
color:blue;
}

html
{
background-color:#123;
}
body
{
background-color:white;
width:80%;
min-width:600px;
margin:0px auto;
padding:10px 50px;
box-shadow:0px 0px 50px 2px #012;
font-size:18px;
line-height:1.2em;
font-weight:normal;
font-style:normal;
font-family:Palatino;
text-align:center;
}
h1,h2,footer
{
color:#661100;
}
h1,h2
{
font-family:Futura;
line-height:1em;
margin:10px auto;
}
h1
{
font-size:48px;
}
h2
{
font-size:18px;
}
small
{
font-size:12px;
}
strong
{
font-weight:bold;
text-decoration:underline;
}
em
{
font-style:italic;
}
p,ul,img,blockquote
{
display:block;
margin-bottom:20px;
}
p
{
text-indent:40px;
text-align:left;
}
ul
{
margin-left:80px;
text-align:left;
}

header,footer
{
border:0px dashed #ccc;
}
header
{
margin-bottom:20px;
border-bottom-width:1px;
}
footer
{
padding-top:10px;
border-top-width:1px;
}
img
{
width:300px;
margin:0px auto;
margin-bottom:20px;
border-radius:10px;
box-shadow:2px 2px 10px 1px #999;
}