body{
  padding:2em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.board{
  background: #096294;
  color: #fff;
  border-radius: 5px;
  padding:2em;
  margin:2em 0;
}
.board-title{
  font-weight:bold;
  margin:0;
  font-size:1.5em;
}