<!DOCTYPE html>
<html>
<head>
  <title>rmnd.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= image_tag('reminder.png', class: "logo") %>
  <h1>rmnd.me</h1>

  <div id="reminders">

  </div>

</body>
</html>
