<!DOCTYPE html>
<html>
<head>
  <title>Robin's Swanky Blog</title>
  <meta charset="utf-8" />
</head>
<body>
  <header>
    <h1>Robin's Blog Posts</h1>
  </header>
  <main>
<%= yield %>
  </main>
  <footer>
    <p><small>&copy;2015 RT Productions LLC</small></p>
  </footer>
</body>
</html>
