
*
{
  box-sizing:border-box;
}
html
{
  background-color:#345;
  height:100%;
}
body
{
  min-width:300px;
  max-width:600px;
  margin:0 auto;
  color:#444;
  font-family:Futura;
  font-size:18px;
  background-color:#eee;
  padding:1em;
  min-height:100%;
  overflow:hidden;
  border-color:#345;
  border-style:solid;
  border-width:0 1em;
}
div
{
  border-top:1px dashed #aaa;
  padding:1em 0;
  margin-bottom:1em;
}
a
{
  text-decoration:none;
}
button
{
  display:block;
  border-radius:5px;
  line-height:1em;
  width:100%;
  border:0;
  font-size:18px;
  font-family:inherit;
  cursor:pointer;
  background-color:#dcc;
}
button:hover
{
  background-color:#ecc;
}
button[type=submit]
{
  line-height:36px;
  background-color:#ccd;
}
button[type=submit]:hover
{
  background-color:#cce;
}
textarea
{
  border:0;
  font-size:16px;
  background-color:#fafafa;
  border-radius:5px;
  height:100px;
  width:100%;
  resize:none;
}
textarea:focus
{
  outline:0;
  background-color:white;
}
h1,h2
{
  text-align:center;
}
