td
{
width:400px;
height:28px;
}
tr:nth-of-type(odd) td
{
background-color:red;
}
tr td[rowspan]
{
background-color:blue;
}


/*With stars*/
/*
td
{
vertical-align:top;
text-align:center;
}
td[rowspan]:before
{
content:"\2605\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\A\2605\2605\2605\2605\2605\2605";
white-space: pre;
display:block;
color:white;
font-size:24px;
line-height:24px;
letter-spacing:36px;
}
*/
