<html>
  <head>
    <title>Trillo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Trillo</h1>
    <p><i>A HAMco Product</i></p>

    <div id="new-card">
      <input id="new-card-text" type="text" placeholder="What do you need to do?"/>
      <button id="new-card-button">Add Card</button>
    </div>

    <div id="todo-column" class="column">
      <h2 class="column-heading">To Do</h2>
      <ul class="card-list">
      </ul>
    </div>

    <div id="completed-column" class="column">
      <h2 class="column-heading">Done</h2>
      <ul class="card-list">

      </ul>
    </div>
  </body>
</html>
