<!DOCTYPE html>
<html>
  <head>
    <title>Robin's Awesome Blahg</title>
    <link rel="stylesheet" href="<%= url('/layout.css') %>" />
  </head>
  <body>
    <h1>Robin's Sweet Blog</h1>

    <%= yield %>

  </body>
</html>
