<% cache(comment) do %>
  <% sleep 0.01 %>
  <%= div_for comment do %>
    <div class="body">
      <%= simple_format(comment.content) %>
    </div>
    <div class="info">
      by <%= comment.author_name %> <%= time_ago_in_words(comment.created_at) %> ago
    </div>
  <% end  %>
<% end %>
