.row,
.column {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    height: 100%;
}

.column-1{
  width: 8.3333333333333%;
}

.column-2{
  width:16.6666666666667%;
}

.column-3{
  width:25%;
}

.column-4{
  width:33.3333333333333%;
}

.column-5{
  width:41.6666666666667%
}

.column-6{
  width:50%
}

.column-7{
  width:58.3333333333333%;
}

.column-8{
  width:66.6666666666667%;
}

.column-9{
  width:75%
}

.column-10{
  width:83.3333333333333%;
}

.column-11{
  width:91.6666666666667%;
}

.column-12{
  width:100%
}

.green {
  background: green;
}

.blue{
  background: blue;
}

.red{
  background:red;
}


.main{
  height: 400px;
}
